VPNMonClient/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2816/VPNMonitor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2816/VPNMonitor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2816/VPNMonitor.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VPNMonServer_keepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:keepAlive" />
  </wsdl:message>
  <wsdl:message name="VPNMonServer_keepAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:keepAliveResponse" />
  </wsdl:message>
  <wsdl:message name="VPNMonServer_fileCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:fileCheck" />
  </wsdl:message>
  <wsdl:message name="VPNMonServer_fileCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:fileCheckResponse" />
  </wsdl:message>
  <wsdl:message name="VPNMonServer_getFileString_InputMessage">
    <wsdl:part name="parameters" element="tns:getFileString" />
  </wsdl:message>
  <wsdl:message name="VPNMonServer_getFileString_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFileStringResponse" />
  </wsdl:message>
  <wsdl:message name="VPNMonServer_getMasterList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMasterList" />
  </wsdl:message>
  <wsdl:message name="VPNMonServer_getMasterList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMasterListResponse" />
  </wsdl:message>
  <wsdl:portType name="VPNMonServer">
    <wsdl:operation name="keepAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/VPNMonServer/keepAlive" message="tns:VPNMonServer_keepAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/VPNMonServer/keepAliveResponse" message="tns:VPNMonServer_keepAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fileCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/VPNMonServer/fileCheck" message="tns:VPNMonServer_fileCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/VPNMonServer/fileCheckResponse" message="tns:VPNMonServer_fileCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFileString">
      <wsdl:input wsaw:Action="http://tempuri.org/VPNMonServer/getFileString" message="tns:VPNMonServer_getFileString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/VPNMonServer/getFileStringResponse" message="tns:VPNMonServer_getFileString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMasterList">
      <wsdl:input wsaw:Action="http://tempuri.org/VPNMonServer/getMasterList" message="tns:VPNMonServer_getMasterList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/VPNMonServer/getMasterListResponse" message="tns:VPNMonServer_getMasterList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_VPNMonServer" type="tns:VPNMonServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="keepAlive">
      <soap:operation soapAction="http://tempuri.org/VPNMonServer/keepAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fileCheck">
      <soap:operation soapAction="http://tempuri.org/VPNMonServer/fileCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileString">
      <soap:operation soapAction="http://tempuri.org/VPNMonServer/getFileString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMasterList">
      <soap:operation soapAction="http://tempuri.org/VPNMonServer/getMasterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_VPNMonServer" binding="tns:BasicHttpBinding_VPNMonServer">
      <soap:address location="http://localhost:2816/VPNMonitor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>